:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FIX SCROLL ISSUE */
html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

/* REMOVE FLEX CENTERING */
body {
  background-color: #f5f7fb;
  color: #1f2937;
}

/* LINKS */
a {
  font-weight: 500;
  color: #2563eb;
  text-decoration: none;
}

a:hover {
  color: #1d4ed8;
}

/* HEADINGS */
h1 {
  line-height: 1.2;
}

/* BUTTONS */
button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

/* LIGHT MODE */
@media (prefers-color-scheme: light) {
  :root {
    color: #1f2937;
    background-color: #f5f7fb;
  }
}
